.AlignItems{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.refresh-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }
  
  .player-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box-logo {
    width: 100%;
    height: 100%;
  }
  